<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />

    <title>Mensagens <%= locals.title ? "| " + locals.title : "" %></title>
  </head>

  <body>
    <%- include("navbar") %>

    <main><%- include(locals.template) %></main>

    <footer>
      Construído por
      <a href="https://diegomoreira.vercel.app/" target="_blank"
        >Diego Moreira</a
      >
      em 2025
    </footer>
  </body>
</html>
