<h1>Criar Conta</h1>

<form action="/signup" method="post">
  <label for="full_name">Nome completo:</label>
  <input type="text" name="full_name" id="full_name" />

  <label for="username">Nome de usuário:</label>
  <input type="text" name="username" id="username" />

  <label for="password">Senha:</label>
  <input type="password" name="password" id="password" />

  <button type="submit">Registrar</button>
</form>
